---
import FormattedDate from "../components/FormattedDate.astro";
import BaseLayout from "./BaseLayout.astro";

const { title, description, pubDate, updatedDate, heroImage, heroGiphy } =
  Astro.props;
---

<BaseLayout title={title} description={description}>
  <article class="prose">
    {heroImage && <img width={720} height={360} src={heroImage} alt="" />}
    {
      heroGiphy && (
        <iframe
          width={480}
          height={240}
          src={heroGiphy}
          class="giphy-embed mx-auto"
        />
      )
    }
    {
      updatedDate && (
        <div class="last-updated-on">
          Last updated on <FormattedDate date={updatedDate} />
        </div>
      )
    }
    <div class="my-8">
      <h1 class="title">{title}</h1>
      <FormattedDate date={pubDate} />
    </div>
    <hr />
    <slot />
  </article>
</BaseLayout>
